  <h1>Information Regarding Covid-19</h1>
  <select id="state-selector" onchange="">
    <option value="">Select a state</option>
    <option value="Alabama">Alabama</option>
    <option value="Alaska">Alaska</option>
    <option value="Arizona">Arizona</option>
    <option value="Arkansas">Arkansas</option>
    <option value="California">California</option>
    <option value="Colorado">Colorado</option>
    <option value="Connecticut">Connecticut</option>
    <option value="Delaware">Delaware</option>
    <option value="Florida">Florida</option>
    <option value="Georgia">Georgia</option>
    <option value="Hawaii">Hawaii</option>
    <option value="Idaho">Idaho</option>
    <option value="Illinois">Illinois</option>
    <option value="Indiana">Indiana</option>
    <option value="Iowa">Iowa</option>
    <option value="Kansas">Kansas</option>
    <option value="Kentucky">Kentucky</option>
    <option value="Louisiana">Louisiana</option>
    <option value="Maine">Maine</option>
    <option value="Maryland">Maryland</option>
    <option value="Massachusetts">Massachusetts</option>
    <option value="Michigan">Michigan</option>
    <option value="Minnesota">Minnesota</option>
    <option value="Mississippi">Mississippi</option>
    <option value="Missouri">Missouri</option>
    <option value="Montana">Montana</option>
    <option value="Nebraska">Nebraska</option>
    <option value="Nevada">Nevada</option>
    <option value="New_Hampshire">New Hampshire</option>
    <option value="New_Jersey">New Jersey</option>
    <option value="New_Mexico">New Mexico</option>
    <option value="New_York">New York</option>
    <option value="North_Carolina">North Carolina</option>
    <option value="North_Dakota">North Dakota</option>
    <option value="Ohio">Ohio</option>
    <option value="Oklahoma">Oklahoma</option>
    <option value="Oregon">Oregon</option>
    <option value="Pennsylvania">Pennsylvania</option>
    <option value="Rhode_Island">Rhode Island</option>
    <option value="South_Carolina">South Carolina</option>
    <option value="South_Dakota">South Dakota</option>
    <option value="Tennessee">Tennessee</option>
    <option value="Texas">Texas</option>
    <option value="Utah">Utah</option>
    <option value="Vermont">Vermont</option>
    <option value="Virginia">Virginia</option>
    <option value="Washington">Washington</option>
    <option value="Washington DC">Washington, DC</option>
    <option value="West_Virginia">West Virginia</option>
    <option value="Wisconsin">Wisconsin</option>
    <option value="Wyoming">Wyoming</option>
  </select>
<div class="state-data" id="state-data-alabama">
    <table>
      <h2>Alabama</h2>
      <tr>
        <th>Report Date</th>
        <th>Positive</th>
        <th>Negative</th>
        <th>Death</th>
      </tr>
      <tr>
        <td>March 29, 2020</td>
        <td>830</td>
        <td>4,184</td>
        <td>4</td>
      </tr>
    </table>
  </div>
  <div class="state-data" id="state-data-alaska">
    <table>
      <h2>Alaska</h2>
      <tr>
        <th>Report Date</th>
        <th>Positive</th>
        <th>Negative</th>
        <th>Death</th>
      </tr>
      <tr>
        <td>March 29, 2020</td>
        <td>114</td>
        <td>3540</td>
        <td>3</td>
      </tr>
    </table>
  </div>
  <div class="state-data" id="state-data-arkansas">
    <table>
      <h2>Arkansas</h2>
      <tr>
        <th>Report Date</th>
        <th>Positive</th>
        <th>Negative</th>
        <th>Death</th>
      </tr>
      <tr>
        <td>March 30, 2020</td>
        <td>449</td>
        <td>3,087</td>
        <td>6</td>
      </tr>
    </table>
  </div>
  <div class="state-data" id="state-data-arizona">
    <table>
      <h2>Arizona</h2>
      <tr>
        <th>Report Date</th>
        <th>Positive</th>
        <th>Negative</th>
        <th>Death</th>
      </tr>
      <tr>
        <td>March 29, 2020</td>
        <td>919</td>
        <td>12,953</td>
        <td>17</td>
      </tr>
    </table>
  </div>
  <div class="state-data" id="state-data-california">
    <table>
      <h2>California</h2>
      <tr>
        <th>Report Date</th>
        <th>Positive</th>
        <th>Negative</th>
        <th>Death</th>
      </tr>
      <tr>
        <td>March 30, 2020</td>
        <td>5,708</td>
        <td>20,549</td>
        <td>123</td>
      </tr>
    </table>
  </div>
  <div class="state-data" id="state-data-colorado">
    <table>
      <h2>Colorado</h2>
      <tr>
        <th>Report Date</th>
        <th>Positive</th>
        <th>Negative</th>
        <th>Death</th>
      </tr>
      <tr>
        <td>March 29, 2020</td>
        <td>2,307</td>
        <td>12,163</td>
        <td>47</td>
      </tr>
    </table>
  </div>
  <div class="state-data" id="state-data-connecticut">
    <table>
      <h2>Connecticut</h2>
      <tr>
        <th>Report Date</th>
        <th>Positive</th>
        <th>Negative</th>
        <th>Death</th>
      </tr>
      <tr>
        <td>March 29, 2020</td>
        <td>1,993</td>
        <td>9,907</td>
        <td>34</td>
      </tr>
    </table>
  </div>
  <div class="state-data" id="state-data-washington_dc">
    <table>
      <h2>Washington, DC</h2>
      <tr>
        <th>Report Date</th>
        <th>Positive</th>
        <th>Negative</th>
        <th>Death</th>
      </tr>
      <tr>
        <td>March 30, 2020</td>
        <td>401</td>
        <td>2,682</td>
        <td>9</td>
      </tr>
    </table>
  </div>
  <div class="state-data" id="state-data-delaware">
    <table>
      <h2>Delaware</h2>
      <tr>
        <th>Report Date</th>
        <th>Positive</th>
        <th>Negative</th>
        <th>Death</th>
      </tr>
      <tr>
        <td>March 30, 2020</td>
        <td>232</td>
        <td>36</td>
        <td>6</td>
      </tr>
    </table>
  </div>
  <div class="state-data" id="state-data-florida">
    <table>
      <h2>Florida</h2>
      <tr>
        <th>Report Date</th>
        <th>Positive</th>
        <th>Negative</th>
        <th>Death</th>
      </tr>
      <tr>
        <td>March 29, 2020</td>
        <td>4,950</td>
        <td>44,048</td>
        <td>59</td>
      </tr>
    </table>
  </div>
  <div class="state-data" id="state-data-georgia">
    <table>
      <h2>Georgia</h2>
      <tr>
        <th>Report Date</th>
        <th>Positive</th>
        <th>Negative</th>
        <th>Death</th>
      </tr>
      <tr>
        <td>March 29, 2020</td>
        <td>2,683</td>
        <td>9,913</td>
        <td>80</td>
      </tr>
    </table>
  </div>
  <div class="state-data" id="state-data-hawaii">
    <table>
      <h2>Hawaii</h2>
      <tr>
        <th>Report Date</th>
        <th>Positive</th>
        <th>Negative</th>
        <th>Death</th>
      </tr>
      <tr>
        <td>March 29, 2020</td>
        <td>175</td>
        <td>7,825</td>
        <td>0</td>
      </tr>
    </table>
  </div>
  <div class="state-data" id="state-data-iowa">
    <table>
      <h2>Iowa</h2>
      <tr>
        <th>Report Date</th>
        <th>Positive</th>
        <th>Negative</th>
        <th>Death</th>
      </tr>
      <tr>
        <td>March 29, 2020</td>
        <td>336</td>
        <td>5,013</td>
        <td>4</td>
      </tr>
    </table>
  </div>
<div class="state-data" id="state-data-idaho">
    <table>
      <h2>Idaho</h2>
      <tr>
        <th>Report Date</th>
        <th>Positive</th>
        <th>Negative</th>
        <th>Death</th>
      </tr>
      <tr>
        <td>March 29, 2020</td>
        <td>310</td>
        <td>4,396</td>
        <td>6</td>
      </tr>
    </table>
  </div>
  <div class="state-data" id="state-data-illinois">
    <table>
      <h2>Illinois</h2>
      <tr>
        <th>Report Date</th>
        <th>Positive</th>
        <th>Negative</th>
        <th>Death</th>
      </tr>
      <tr>
        <td>March 29, 2020</td>
        <td>4,596</td>
        <td>23,166</td>
        <td>65</td>
      </tr>
    </table>
  </div>
  <div class="state-data" id="state-data-indiana">
    <table>
      <h2>Indiana</h2>
      <tr>
        <th>Report Date</th>
        <th>Positive</th>
        <th>Negative</th>
        <th>Death</th>
      </tr>
      <tr>
        <td>March 29, 2020</td>
        <td>1,786</td>
        <td>9,872</td>
        <td>35</td>
      </tr>
    </table>
  </div>
  <div class="state-data" id="state-data-kansas">
    <table>
      <h2>Kansas</h2>
      <tr>
        <th>Report Date</th>
        <th>Positive</th>
        <th>Negative</th>
        <th>Death</th>
      </tr>
      <tr>
        <td>March 29, 2020</td>
        <td>319</td>
        <td>4,194</td>
        <td>6</td>
      </tr>
    </table>
  </div>
  <div class="state-data" id="state-data-kentucky">
    <table>
      <h2>Kentucky</h2>
      <tr>
        <th>Report Date</th>
        <th>Positive</th>
        <th>Negative</th>
        <th>Death</th>
      </tr>
      <tr>
        <td>March 29, 2020</td>
        <td>439</td>
        <td>5579</td>
        <td>9</td>
      </tr>
    </table>
  </div>
<div class="state-data" id="state-data-louisiana">
    <table>
      <h2>Louisiana</h2>
      <tr>
        <th>Report Date</th>
        <th>Positive</th>
        <th>Negative</th>
        <th>Death</th>
      </tr>
      <tr>
        <td>March 29, 2020</td>
        <td>3540</td>
        <td>24331</td>
        <td>151</td>
      </tr>
    </table>
  </div>
<div class="state-data" id="state-data-massachusetts">
    <table>
      <h2>Massachussetts</h2>
      <tr>
        <th>Report Date</th>
        <th>Positive</th>
        <th>Negative</th>
        <th>Death</th>
      </tr>
      <tr>
        <td>March 29, 2020</td>
        <td>4955</td>
        <td>34111</td>
        <td>48</td>
      </tr>
    </table>
  </div>
  <div class="state-data" id="state-data-maryland">
    <table>
      <h2>Maryland</h2>
      <tr>
        <th>Report Date</th>
        <th>Positive</th>
        <th>Negative</th>
        <th>Death</th>
      </tr>
      <tr>
        <td>March 29, 2020</td>
        <td>1413</td>
        <td>13316</td>
        <td>15</td>
      </tr>
    </table>
  </div>
  <div class="state-data" id="state-data-maine">
    <table>
      <h2>Maine</h2>
      <tr>
        <th>Report Date</th>
        <th>Positive</th>
        <th>Negative</th>
        <th>Death</th>
      </tr>
      <tr>
        <td>March 29, 2020</td>
        <td>253</td>
        <td>3394</td>
        <td>3</td>
      </tr>
    </table>
  </div>
  <div class="state-data" id="state-data-michigan">
    <table>
      <h2>Michigan</h2>
      <tr>
        <th>Report Date</th>
        <th>Positive</th>
        <th>Negative</th>
        <th>Death</th>
      </tr>
      <tr>
        <td>March 29, 2020</td>
        <td>5486</td>
        <td>11893</td>
        <td>132</td>
      </tr>
    </table>
  </div>
  <div class="state-data" id="state-data-minnesota">
    <table>
      <h2>Minnesota</h2>
      <tr>
        <th>Report Date</th>
        <th>Positive</th>
        <th>Negative</th>
        <th>Death</th>
      </tr>
      <tr>
        <td>March 29, 2020</td>
        <td>503</td>
        <td>17154</td>
        <td>9</td>
      </tr>
    </table>
  </div>
  <div class="state-data" id="state-data-mississippi">
    <table>
      <h2>Mississippi</h2>
      <tr>
        <th>Report Date</th>
        <th>Positive</th>
        <th>Negative</th>
        <th>Death</th>
      </tr>
      <tr>
        <td>March 29, 2020</td>
        <td>758</td>
        <td>2,560</td>
        <td>14</td>
      </tr>
    </table>
  </div>
  <div class="state-data" id="state-data-missouri">
    <table>
      <h2>Missouri</h2>
      <tr>
        <th>Report Date</th>
        <th>Positive</th>
        <th>Negative</th>
        <th>Death</th>
      </tr>
      <tr>
        <td>March 29, 2020</td>
        <td>903</td>
        <td>13,204</td>
        <td>12</td>
      </tr>
    </table>
  </div>
<div class="state-data" id="state-data-montana">
    <table>
      <h2>Montana</h2>
      <tr>
        <th>Report Date</th>
        <th>Positive</th>
        <th>Negative</th>
        <th>Death</th>
      </tr>
      <tr>
        <td>March 29, 2020</td>
        <td>171</td>
        <td>3,961</td>
        <td>2</td>
      </tr>
    </table>
  </div>
  <div class="state-data" id="state-data-north_carolina">
    <table>
      <h2>North Carolina</h2>
      <tr>
        <th>Report Date</th>
        <th>Positive</th>
        <th>Negative</th>
        <th>Death</th>
      </tr>
      <tr>
        <td>March 29, 2020</td>
        <td>1,167</td>
        <td>17,905</td>
        <td>5</td>
      </tr>
    </table>
  </div>
  <div class="state-data" id="state-data-north_dakota">
    <table>
      <h2>North Dakota</h2>
      <tr>
        <th>Report Date</th>
        <th>Positive</th>
        <th>Negative</th>
        <th>Death</th>
      </tr>
      <tr>
        <td>March 29, 2020</td>
        <td>98</td>
        <td>3,626</td>
        <td>1</td>
      </tr>
    </table>
  </div>
  <div class="state-data" id="state-data-nebraska">
    <table>
      <h2>Nebraska</h2>
      <tr>
        <th>Report Date</th>
        <th>Positive</th>
        <th>Negative</th>
        <th>Death</th>
      </tr>
      <tr>
        <td>March 29, 2020</td>
        <td>120</td>
        <td>2,221</td>
        <td>2</td>
      </tr>
    </table>
  </div>
  <div class="state-data" id="state-data-new_hampshire">
    <table>
      <h2>New Hampshire</h2>
      <tr>
        <th>Report Date</th>
        <th>Positive</th>
        <th>Negative</th>
        <th>Death</th>
      </tr>
      <tr>
        <td>March 29, 2020</td>
        <td>258</td>
        <td>4,994</td>
        <td>3</td>
      </tr>
    </table>
  </div>
  <div class="state-data" id="state-data-new_jersey">
    <table>
      <h2>New Jersey</h2>
      <tr>
        <th>Report Date</th>
        <th>Positive</th>
        <th>Negative</th>
        <th>Death</th>
      </tr>
      <tr>
        <td>March 29, 2020</td>
        <td>13,386</td>
        <td>22,216</td>
        <td>161</td>
      </tr>
    </table>
  </div>
  <div class="state-data" id="state-data-new_mexico">
    <table>
      <h2>New Mexico</h2>
      <tr>
        <th>Report Date</th>
        <th>Positive</th>
        <th>Negative</th>
        <th>Death</th>
      </tr>
      <tr>
        <td>March 29, 2020</td>
        <td>237</td>
        <td>10,942</td>
        <td>2</td>
      </tr>
    </table>
  </div>
  <div class="state-data" id="state-data-nevada">
    <table>
      <h2>Nevada</h2>
      <tr>
        <th>Report Date</th>
        <th>Positive</th>
        <th>Negative</th>
        <th>Death</th>
      </tr>
      <tr>
        <td>March 29, 2020</td>
        <td>920</td>
        <td>9,614</td>
        <td>15</td>
      </tr>
    </table>
  </div>
  <div class="state-data" id="state-data-new_york">
    <table>
      <h2>New York</h2>
      <tr>
        <th>Report Date</th>
        <th>Positive</th>
        <th>Negative</th>
        <th>Death</th>
      </tr>
      <tr>
        <td>March 29, 2020</td>
        <td>59,513</td>
        <td>112,847</td>
        <td>965</td>
      </tr>
    </table>
  </div>
<div class="state-data" id="state-data-ohio">
  <table>
    <h2>Ohio</h2>
    <tr>
      <th>Report Date</th>
      <th>Positive</th>
      <th>Negative</th>
      <th>Death</th>
    </tr>
    <tr>
      <td>March 29, 2020</td>
      <td>1,653</td>
      <td>19,012</td>
      <td>29</td>
    </tr>
  </table>
</div>
<div class="state-data" id="state-data-oklahoma">
  <table>
    <h2>Oklahoma</h2>
    <tr>
      <th>Report Date</th>
      <th>Positive</th>
      <th>Negative</th>
      <th>Death</th>
    </tr>
    <tr>
      <td>March 29, 2020</td>
      <td>429</td>
      <td>1,205</td>
      <td>16</td>
    </tr>
  </table>
</div>
<div class="state-data" id="state-data-oregon">
  <table>
    <h2>Oregon</h2>
    <tr>
      <th>Report Date</th>
      <th>Positive</th>
      <th>Negative</th>
      <th>Death</th>
    </tr>
    <tr>
      <td>March 29, 2020</td>
      <td>548</td>
      <td>10,878</td>
      <td>13</td>
    </tr>
  </table>
</div>
<div class="state-data" id="state-data-pennsylvania">
  <table>
    <h2>Pennsylvania</h2>
    <tr>
      <th>Report Date</th>
      <th>Positive</th>
      <th>Negative</th>
      <th>Death</th>
    </tr>
    <tr>
      <td>March 29, 2020</td>
      <td>3,394</td>
      <td>3,0061</td>
      <td>38</td>
    </tr>
  </table>
</div>
<div class="state-data" id="state-data-rhode_island">
  <table>
    <h2>Rhode Island</h2>
    <tr>
      <th>Report Date</th>
      <th>Positive</th>
      <th>Negative</th>
      <th>Death</th>
    </tr>
    <tr>
      <td>March 29, 2020</td>
      <td>3394</td>
      <td>30061</td>
      <td>38</td>
    </tr>
  </table>
</div>
<div class="state-data" id="state-data-south_carolina">
  <table>
    <h2>South Carolina</h2>
    <tr>
      <th>Report Date</th>
      <th>Positive</th>
      <th>Negative</th>
      <th>Death</th>
    </tr>
    <tr>
      <td>March 29, 2020</td>
      <td>774</td>
      <td>3,015</td>
      <td>16</td>
    </tr>
  </table>
</div>
<div class="state-data" id="state-data-south_dakota">
  <table>
    <h2>South Dakota</h2>
    <tr>
      <th>Report Date</th>
      <th>Positive</th>
      <th>Negative</th>
      <th>Death</th>
    </tr>
    <tr>
      <td>March 29, 2020</td>
      <td>90</td>
      <td>3,127</td>
      <td>1</td>
    </tr>
  </table>
</div>
<div class="state-data" id="state-data-tennessee">
  <table>
    <h2>Tennessee</h2>
    <tr>
      <th>Report Date</th>
      <th>Positive</th>
      <th>Negative</th>
      <th>Death</th>
    </tr>
    <tr>
      <td>March 29, 2020</td>
      <td>1,537</td>
      <td>19,037</td>
      <td>7</td>
    </tr>
  </table>
</div>
<div class="state-data" id="state-data-texas">
  <table>
    <h2>Texas</h2>
    <tr>
      <th>Report Date</th>
      <th>Positive</th>
      <th>Negative</th>
      <th>Death</th>
    </tr>
    <tr>
      <td>March 29, 2020</td>
      <td>2,552</td>
      <td>23,208</td>
      <td>34</td>
    </tr>
  </table>
</div>
<div class="state-data" id="state-data-utah">
  <table>
    <h2>Utah</h2>
    <tr>
      <th>Report Date</th>
      <th>Positive</th>
      <th>Negative</th>
      <th>Death</th>
    </tr>
    <tr>
      <td>March 29, 2020</td>
      <td>719</td>
      <td>13,274</td>
      <td>2</td>
    </tr>
  </table>
</div>
<div class="state-data" id="state-data-virginia">
  <table>
    <h2>Virginia</h2>
    <tr>
      <th>Report Date</th>
      <th>Positive</th>
      <th>Negative</th>
      <th>Death</th>
    </tr>
    <tr>
      <td>March 30, 2020</td>
      <td>1,020</td>
      <td>11,018</td>
      <td>25</td>
    </tr>
  </table>
</div>
<div class="state-data" id="state-data-vermont">
  <table>
    <h2>Vermont</h2>
    <tr>
      <th>Report Date</th>
      <th>Positive</th>
      <th>Negative</th>
      <th>Death</th>
    </tr>
    <tr>
      <td>March 29, 2020</td>
      <td>235</td>
      <td>3,466</td>
      <td>12</td>
    </tr>
  </table>
</div>
<div class="state-data" id="state-data-washington">
  <table>
    <h2>Washington</h2>
    <tr>
      <th>Report Date</th>
      <th>Positive</th>
      <th>Negative</th>
      <th>Death</th>
    </tr>
    <tr>
      <td>March 30, 2020</td>
      <td>4,896</td>
      <td>60,566</td>
      <td>195</td>
    </tr>
  </table>
</div>
<div class="state-data" id="state-data-wisconsin">
  <table>
    <h2>Wisconsin</h2>
    <tr>
      <th>Report Date</th>
      <th>Positive</th>
      <th>Negative</th>
      <th>Death</th>
    </tr>
    <tr>
      <td>March 30, 2020</td>
      <td>1,112</td>
      <td>16,550</td>
      <td>13</td>
    </tr>
  </table>
</div>
<div class="state-data" id="state-data-west_virginia">
  <table>
    <h2>West Virginia</h2>
    <tr>
      <th>Report Date</th>
      <th>Positive</th>
      <th>Negative</th>
      <th>Death</th>
    </tr>
    <tr>
      <td>March 30, 2020</td>
      <td>124</td>
      <td>2984</td>
      <td>0</td>
    </tr>
  </table>
</div>
<div class="state-data" id="state-data-wyoming">
  <table>
    <h2>Wyoming</h2>
    <tr>
      <th>Report Date</th>
      <th>Positive</th>
      <th>Negative</th>
      <th>Death</th>
    </tr>
    <tr>
      <td>March 30, 2020</td>
      <td>87</td>
      <td>1554</td>
      <td>0</td>
    </tr>
  </table>
</div>

<script>
    $('#state-selector').change(function() {
      let selectedState = $(this).val();
      let dataId = `state-data-${selectedState.toLowerCase()}`;



      $('.state-data').hide();
      $(`#${dataId}`).show();

      // This is just to point out that fetch can be
      // used in the browser, too.
      //
      // fetch('https://covidtracking.com/api/states')
      //   .then(res => res.json())
      //   .then(data => {
      //     data.find(row => row.state === selectedState);
      //   });
    });
  </script>
