html {
  padding: 0;
  margin: auto;
  font-size: 18px;
  line-height: 1.5;
  list-style: none;
  width: 50%;
}
body {
  background-color: rgb(253, 239, 161);
  width: 100%;
  height: 500px;
}
.dropdown button {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
/* .state-data table {
  visibility: hidden;

} */

/* Dropdown button on hover & focus /
.dropdown button:hover, .dropdown button:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;
  width: 50%;
}

/ Dropdown Content (Hidden by Default) /
.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  overflow: auto;
}

/ Links inside the dropdown /
.dropdown-menu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/ Change color of dropdown links on hover &*/
.dropdown-menu a:hover {background-color: #ddd}

.chart_div {
  padding: 20px;
}
